<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test" preserve-order="true">
    <classes>
      <class name="com.goibibo.qa.testcases.Scenario1_SearchAHotelForOneAdult"/>
      <class name="com.goibibo.qa.testcases.Scenario2_BookAHotelForOneAdult"/>
      <class name="com.goibibo.qa.testcases.Scenario3_SearchAHotelAndSelectFirstHotel"/>
      <class name="com.goibibo.qa.testcases.Scenario4_SearchAHotelInOotyAndApplyFilter"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
